<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Prediction Project</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Welcome to Heart Prediction Project</h1>
    <form action='result.html/' method="get">
        <input type="text" placeholder="Enter name" name='name1'>
        <input type="text" placeholder="Enter age" name='age'>
        <input type="text" placeholder="Enter sex" name='sex'>
        <input type="text" placeholder="Enter cp" name='cp'>
        <input type="text" placeholder="Enter bps" name='bps'>
        <input type="text" placeholder="Enter chol" name='chol'>
        <input type="text" placeholder="Enter thalach" name='thalach'>
        <input type="text" placeholder="Enter oldpeak" name='oldpeak'>
        <input type="text" placeholder="Enter ca" name='ca'>
        <input type="text" placeholder="Enter thal" name='thal'>
        <input type="submit" value="Predict">
    </form>
</body>
</html>