*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 80vh;
    background-image: url('heart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    line-height: 20vh;
    color: white;
}
form{
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px;
}
input{
    width: 40vw;
    margin-left: 30vw;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
}